[submodule "IR4DetacherFirmware/SubModules/submod-hal_generic"]
	path = IR4DetacherFirmware/SubModules/submod-hal_generic
	url = https://github.com/invuefirmware/submod-hal_generic
[submodule "IR4DetacherFirmware/Submodules/submod-ir_comms"]
	path = IR4DetacherFirmware/Submodules/submod-ir_comms
	url = https://github.com/invuefirmware/submod-ir_comms
